<div class="big-header">

	{% include nav4.html %}

	<header>
		<p class="prehead">You've got a problem &hellip; <br>The clock is ticking. Time is running out.<br><span class="uppercase">Deadlines loom.</span></p>
		<h1>YOU NEED IT WRITTEN. NOW.</h1>
		<!-- <p class="subhead">But you're stuck &hellip; don't know how to start; don't know what&nbsp;to&nbsp;say. <span class="break">Your words are stale, limp on the page. It's dull, uninspired. Nothing new here.</span></p> -->
		<!-- <h2>GET A BETTER WAY TO GET IT WRITTEN</h2> -->
	</header>

	<main>
		<h4>Introducting the</h4>
		<h2>PROFESSIONAL WRITER'S 5-STEP GUIDE TO WRITING ANYTHING</h2>
		<p class="italics"><span>blog articles &middot; guest posts &middot; trade magazine articles &middot; e-books &middot; whitepapers &middot; epic content &middot; primary research</span></p>
		<p class="xlarge bold" style="width:400px;max-width:75%;margin:0 auto;">Learn the 5 steps professional writers use to develop, then write articles, blog posts, ebooks, and more!</p>
		<ol>
			<li>the&nbsp;idea</li>
			<li>the&nbsp;structure</li>
			<li>the&nbsp;writing</li>
			<li>the&nbsp;editing</li>
			<li>the&nbsp;rewriting</li>
		</ol>
		<p style="font-size:5rem;">&#8615;</p>
	</main>

	<footer>
		<button class="ba-button">GET THE GUIDE</button>
		<p><i class="fa fa-lock"></i> Your email is secured &amp; will only be used for direct communication.</p>
	</footer>
	
</div>