<div class="big-header">

	{% include nav4.html %}

	<header>
		<p class="prehead">You've got a problem &hellip; <br>The clock is ticking. Time is running out.<br><span class="uppercase">Deadlines loom.</span></p>
		<h1>YOU NEED IT WRITTEN. NOW.</h1>
		<p class="subhead">But you're stuck &hellip; don't know how to start; don't know what&nbsp;to&nbsp;say. <span class="break">Your words are stale, limp on the page. It's dull, uninspired. Nothing new here.</span></p>
		<h2>YOU NEED A BETTER WAY TO GET IT WRITTEN</h2>
	</header>

		<div class="hp_arrow" id="arrow" data-target="#introText"><i class="fa fa-angle-double-down fa-4x drop-arrow"></i></div>
	<!-- <main>
		<h4>Introducting the</h4>
		<h2>PROFESSIONAL WRITER'S 5-STEP GUIDE TO WRITING ANYTHING</h2>
		<p><span>blog articles &middot; guest posts &middot; trade magazine articles &middot; e-books &middot; whitepapers &middot; epic content &middot; primary research</span></p>
	</main>

	<footer>
		<p class="bold uppercase">Writing is easy. Writing well is hard.</p>

		<p>Read this short guide to discover a simple method to go from blank mind &amp; blank page to completed article, blog, post, whitepaper, or other long form narrative or informative piece of writing.</p>

		<p>Then, <a href="#downloadWA">download</a> your copy of this guide, complete with a 1-page cheatsheet to print and post next to your computer, and get a free 5-day email course to guide you through each step.</p>

		<p>Plus, a discount off my basic <a href="#">Review &amp; Comment</a> services. Instructions below the guide.</p>

	</footer> -->
	
</div>