<div class="lp" id="bp2ca">	
	<header>
		<div>
			<h2 style="text-align:center;">GET STARTED WRITING &#x27F1;</h2>
		</div>
	</header>


	<section class="what-youll-get">
		<div class="inner">

			<img src="/assets/img/fakes/dm-lm.png" alt="">
			<p><span class="italics reverse">free download &hellip;</span></p>
			<h2><span>GO FROM BLANK PAGE TO COMPLETED ARTICLE!</span></h2>
			<p class="xxlarge">Download this one-page cheatsheet with <span class="bold italics tilt">5</span> simple, actionable tips to get your next writing task done with less effort, in less time!</p>


			<h3 class="uppercase">The cheatsheet explains &hellip;</h3>

			<div class="lm-list">
				<div class="lm-list_item">
					<p class="lead"><i class="fa fa-beer"></i>&nbsp;Hemingway's Advice</p>
					<p class="summary">"Write drunk; edit sober!"</p>
				</div>

				<div class="lm-list_item">
					<p class="lead"><i class="fa fa-pencil-square-o"></i>&nbsp;Free Writing</p>
					<p class="summary">Gets the blood &mdash; &amp; ink &mdash; flowing!</p>
				</div>

				<div class="lm-list_item">
					<p class="lead"><i class="fa fa-comments-o"></i>&nbsp;Bar Stool Method</p>
					<p class="summary">Tell your story &hellip;</p>
				</div>

				<div class="lm-list_item">
					<p class="lead"><i class="fa fa-building-o"></i>&nbsp;5-Paragraph Structure</p>
					<p class="summary">A simple plan.</p>
				</div>

				<div class="lm-list_item">
					<p class="lead"><i class="fa fa-exclamation-triangle fa-rotate-180"></i>&nbsp;The Reporter</p>
					<p class="summary">The inverted pyramid.</p>
				</div>

				<div class="lm-list_item">
					<a href="#open-modal" class="ba-button" style="margin:0 auto;text-align:center;">GET YOUR CHEATSHEET</a>
					<p class="small" style="margin-top:0.5rem;"><i class="fa fa-lock"></i>&nbsp;Your email address is safe and will only be used to communicate directly with you.</p>

					<div id="open-modal" class="modal-window">
						<div>
							<a href="#modal-close" title="Close" class="modal-close">Close</a>
							<div>
								<header class="modal-header">
									<h1>GO FROM BLANK PAGE TO COMPLETED ARTICLE</h1>
									<h3><span class="bold italics tilt">5</span> simple, actionable tips to get that article written. Now!</h3>
								</header>
								<div>{% include form-BP2CA.html %}</div>
							</div>
						</div>
					</div>
				</div> <!-- end div.lm-list_item -->
			</div> <!-- end div.lm-list -->
		</div> <!-- end div.inner -->
	</section>

</div> <!-- end div#bp2ca -->