<div class="cj-hp">
	<section class="cj_editing" name="editing">
		<h2>EDITING</h2>
		<p class="bold">Well, you’ve gotten it written. Maybe that’s enough. Maybe not.</p>
		<p>Is it good enough to stand out from the glut of other blog posts, articles, whitepapers, info products, or ebooks already out there?</p>
		<p>Or is it chocked full of poor grammar, incomplete sentences, bad spelling?</p>
		<p>Did you know that better than 8 out of every 10 articles published online have significant errors?</p>
		<ul>
			<li>Errors detract from the reader experience</li>
			<li>Poorly constructed sentences kill understanding</li>
			<li>Misspelled words create stumbling blocks</li>
		</ul>
		<p>Simple errors make your writing look amateurish. Weak. Errors counter the hard work you put into crafting the words and demonstrating your expertise.</p>
		<p>DON’T LET EASILY FIXED GRAMMATICAL, SPELLING, OR STRUCTURAL ERRORS ROB YOUR OF ITS POWER TO INFORM, EDUCATE, AND SELL!</p>
		<p>Get your articles professionally edited, and publish with confidence:</p>
		<div>
			<p><span>Basic Review &amp; Comment</span></p>
			<p><span>Complete Red Pen Copy Edit</span></p>
			<p><span>Editorial Rewrite</span></p>
		</div>
		<h3>GET IT <span>EDITED</span> <span class="badfont">&#8677;</span></h3>
	</section>

	<section class="cj_writing" name="writing">
		<h2>WRITING</h2>
		<p class="bold">You read somewhere that Content is King … that you have to write & publish every day to get organic traffic, …</p>
		<p>But do you know how to write? Sure, writing is easy. Writing well is hard. Writing well and doing it regularly is impossible if you are not a trained, experienced professional.</p>
		<p>A professional writer:</p>
		<ul>
			<li>frees you from the stress of constant production</li>
			<li>knows the methods to produce high quality articles that drive traffic and sales</li>
			<li>produces clean, well-crafted prose</li>
			<li>gives you an edge over your competition</li>
		</ul>
		<p>QUIT WASTING TIME AND RESOURCES. GET IT WRITTEN BY A PRO!</p>
		<p>Get your articles professionally written, and rise above the competition:</p>
		<div>
			<p><span>Blog Posts, Magazine Articles, Epic Content</span></p>
			<p><span>Original, Custom Written</span></p>
			<p><span>Monthly or One-Off Projects</span></p>
		</div>
		<h3>GET IT <span>WRITTEN</span> <span class="badfont">&#8677;</span></h3>
	</section>

	<section class="cj_research" name="research">
		<h2>RESEARCH</h2>
		<p class="bold">Research. Just type in a few words into Google, copy some facts and rewrite. Right?</p>
		<p>Wrong! First, this is plagiarism. Second, if you just copy from some other blog, why would anyone read your post?</p>
		<p>The fact is … most blog articles are just a rehash of what everyone else is saying. Try it. Type any keyword into Google and see what 4 or 5 of the page one results say.</p>
		<p>Pretty much the same thing. Maybe rearranged. Maybe reworded. Maybe.</p>
		<p>STAND OUT FROM THE STANDARD REGURGITATED GARBAGE CLUTTERING THE WEB.</p>
		<p>Get your articles professionally edited, and publish with confidence:</p>
		<div>
			<p><span>Basic Review &amp; Comment</span></p>
			<p><span>Complete Red Pen Copy Edit</span></p>
			<p><span>Editorial Rewrite</span></p>
		</div>
		<h3>GET IT <span>RESEARCHED</span> <span class="badfont">&#8677;</span></h3>
	</section>
</div>