<div class="cj-hp">
	<div class="divider" id="editing"></div>
	<section class="cj_editing">
		<h2>EDITING</h2>
		<p class="bold">Well, you’ve gotten it written. Maybe that’s enough. Maybe not.</p>
		<p>Is it good enough to stand out from the glut of other blog posts, articles, whitepapers, info products, or ebooks already out there?</p>
		<p>Or is it chocked full of poor grammar, incomplete sentences, bad spelling?</p>
		<p>Did you know that better than 8 out of every 10 articles published online have significant errors?</p>
		<ul>
			<li>Errors detract from the reader experience</li>
			<li>Poorly constructed sentences kill understanding</li>
			<li>Misspelled words create stumbling blocks</li>
		</ul>
		<p>Simple errors make your writing look amateurish. Weak. Errors counter the hard work you put into crafting the words and demonstrating your expertise.</p>
		<p class="bold">Get your articles professionally edited, and publish with confidence:</p>
		<div class="callout">
			<p>DON’T LET EASILY FIXED GRAMMATICAL, SPELLING, OR STRUCTURAL ERRORS ROB YOUR OF ITS POWER TO INFORM, EDUCATE, AND SELL!</p>
		</div>
		<div class="services">
			<p class="blue">Basic Review &amp; Comment</p>
			<p class="blue">Complete Red Pen Copy&nbsp;Edit</p>
			<p class="blue">Editorial Rewrite</p>
		</div>
		<a href="/editing/"><h3 class="magic-button">GET IT <span>EDITED</span> <span class="badfont">&#8677;</span></h3></a>
	</section>

	<div class="divider" id="writing"></div>

	<section class="cj_writing">
		<h2>WRITING</h2>
		<p class="bold">You read somewhere that Content is King … that you have to write &amp; publish every day to get organic traffic, …</p>
		<p>But do you know how to write? Sure, writing is easy. Writing well is hard. Writing well and doing it regularly is impossible if you are not a trained, experienced professional.</p>
		<p>A professional writer:</p>
		<ul>
			<li>frees you from the stress of constant production</li>
			<li>knows the methods to produce high quality articles that drive traffic and sales</li>
			<li>produces clean, well-crafted prose</li>
			<li>gives you an edge over your competition</li>
		</ul>
		<p class="bold">Get your articles professionally written, and rise above the competition:</p>
		<p class="callout">QUIT WASTING TIME AND RESOURCES.<br>GET IT WRITTEN BY A PRO!</p>
		<div class="services">
			<p class="blue">Blog Posts, Magazine Articles, Epic Content</p>
			<p class="blue">Original, Custom Written; No Duplicates</p>
			<p class="blue">Monthly or One&#8209;Off&nbsp;Projects</p>
		</div>
		<a href="/writing/"><h3 class="magic-button">GET IT <span>WRITTEN</span> <span class="badfont">&#8677;</span></h3></a>
	</section>

	<div class="divider" id="research"></div>

	<section class="cj_research">
		<h2>RESEARCH</h2>
		<p class="bold">Research. Just type in a few words into Google, copy some facts and rewrite. Right?</p>
		<p>Wrong! First, this is plagiarism. Second, if you just copy from some other blog, why would anyone read your post?</p>
		<p>The fact is &hellip; most blog articles are just a rehash of what everyone else is saying. Try it. Type any keyword into Google and see what 4 or 5 of the page one results say.</p>
		<p>Pretty much the same thing. Maybe rearranged. Maybe reworded. Maybe.</p>
		<p>Professionally researched articles:</p>
		<ul>
			<li>Go deeper than Google's page one</li>
			<li>Establish your unique knowledge&nbsp;&amp;&nbsp;expertise</li>
			<li>Build credibility in your work</li>
			<li>Outrank the common, everyday&nbsp;articles</li>
		</ul>
		<p class="callout">STAND OUT FROM THE STANDARD REGURGITATED GARBAGE CLUTTERING THE WEB WITH DEEP &amp; PRIMARY RESEARCH</p>
		<p class="bold">Get the information you need to stand out from the competition:</p>
		<div class="services">
			<p class="blue">Primary Research</p>
			<p class="blue">In Depth Expert Interviews</p>
			<p class="blue">Complete Academic Level Documentation</p>
		</div>
		<a href="/research/"><h3 class="magic-button">GET IT <span>RESEARCHED</span> <span class="badfont">&#8677;</span></h3></a>
	</section>
</div>