<nav class="navBar">
  <nav class="wrapper">
    <div class="logo"></div><!-- Logo -->
    <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle">Menu</label>
    </input>
    <ul>
      <a href="#"><li>Home</li></a>
      <a href="#"><li>Masthead</li></a>
      <a href="#"><li>MurderWiki</li></a>
      <a href="#"><li>Short Stories</li></a>
      <a href="#"><li>The Red File</li></a>
      <a href="#"><li>Bookstore</li></a>
    </ul>
  </nav>
</nav>
<!-- <header class="wrapper header">
  <h1>Tales of Murder</h1>
  <h2>For readers with time to kill!</h2>
</header> -->