<header class="header" role="banner">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo, dolor error dignissimos consequuntur itaque ullam! Provident omnis iste pariatur deleniti labore, ut ipsam, nesciunt cupiditate dicta, quo quisquam minus.</p>
<p>Numquam cum assumenda esse placeat nulla similique doloribus debitis corrupti tempora eos, labore, modi beatae obcaecati aspernatur ea pariatur expedita animi corporis voluptas quia amet vero incidunt, quis porro velit.</p>
<p>Sit mollitia ratione illum maiores placeat adipisci quae unde deleniti dicta, neque explicabo qui magnam, in voluptates earum itaque inventore, perspiciatis modi aliquam praesentium saepe sed dignissimos? Consectetur, aliquid dolor.</p>

</header>