<nav class="nav" role="navigation">

  <div class="social-nav hidden">
    <h2 class="hidden">Social Media Submenu</h2>
    <ul>
      <!-- <li class="submenu__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li> -->
      <li class="submenu__facebook"><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
      <li class="submenu__twitter"><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li class="submenu__rss"><a href="http://feeds.feedburner.com/TalesOfMurder" rel="alternate" type="application/rss+xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
      <li class="submenu__slack"><a href=""><i class="fa fa-slack" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="main-nav">
    <a class="logo" title="{{ site.title }}" href="{{ site.url }}"><p><span>{{ site.title }}</span></p></a>

    <h2 class="hidden">Main Navigation</h2>
    <input id="nav" type="checkbox">
    <label for="nav">Menu</label>
    <ul>
      <li><a {% if page.category == 'home' %} class="active" {% endif %} href="/"><span>home</span></a></li>
      <li><a {% if page.category == 'about' %} class="active" {% endif %} href="/about"><span>about</span></a></li>
      <li><a {% if page.category == 'editing' %} class="active" {% endif %} href="/editing/"><span>editing</span></a></li>
      <li><a {% if page.category == 'writing' %} class="active" {% endif %} href="/writing/"><span>writing</span></a></li>
      <li><a {% if page.category == 'agencies' %} class="active" {% endif %} href="/agencies/"><span>agencies</span></a></li>
      <li><a {% if page.category == 'blog' %} class="active" {% endif %} href="/blog/"><span>blog</span></a></li>
    </ul>
  </div> <!-- end .main-nav -->
</nav> <!-- end nav.nav -->