  <div class="top-nav">
    <h2 class="hidden">Top Submenu Navigation</h2>
    <ul>
      <!-- <li class="submenu__search"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li> -->
      <li class="submenu__facebook"><a href=""><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
      <li class="submenu__twitter"><a href=""><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
      <li class="submenu__rss"><a href="http://feeds.feedburner.com/TalesOfMurder" rel="alternate" type="application/rss+xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a></li>
      <li>&emsp;|&emsp;</li>
      <li><i class="fa fa-shopping-cart fa-lg"></i> <span class="xsmall">CART (0)</span></li>
    </ul>
    
    <!-- <ul>
    </ul> -->

  </div>