<div class="pilot">
	<h2>What is a copy mechanic &amp; why do you need one?!</h2>
	<h3>The fact is, writing is hard and you do not have time or money to waste.</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus cumque sapiente, eum eaque fugiat totam temporibus magni animi veritatis at autem voluptatum iure harum, deserunt, aperiam asperiores dolorem illum quis?</p>
	<p>Beatae officiis laboriosam explicabo voluptatem! Ducimus, odit molestiae nesciunt quo, maiores quod ratione. Repellat maxime rerum aliquam, nihil voluptates voluptatem molestiae ducimus quas natus pariatur expedita in tempora repudiandae laborum!</p>
	<p>Modi doloremque facilis labore quae optio fugiat molestiae, quia sit nulla, beatae neque eaque nam, inventore doloribus harum quaerat eum incidunt dolores sapiente! Minima consequuntur, quisquam commodi sapiente perspiciatis et &hellip; <span class="small underline">[continue reading]</span></p>

	<button>CONTENT UPGRADE</button>
</div>