<div class="pilot">
	<div class="pilot-story">
		<h3>Writing is easy. Writing well is hard.</h3>
		<p class="bold xlarge">Have you ever sat down to write, confident that it'll just flow out of your mind and onto the page? After all, you know your subject; nothing could be easier!</p>
		<p>But then suddenly you're facing that empty page and  you're stuck &hellip; don't know who to start; don't know what&nbsp;to&nbsp;say. Your words are stale, limp on the page. It's dull, uninspired. Nothing new here.</p>
		<p>Professional writers face the same problems but the difference is that they have a solution: a step-by-step process for getting the article written.</p>

		<p class="plan-list">the idea &middot; the structure &middot; the writing &middot; the editing &middot; the rewriting</p>

		<p>Knowing and understanding how each of these 5 steps works is the key to writing anything, from a simple blog post to an epic series of articles designed to establish your expertise and dominate search traffic.</p>

		<p>Now you can learn the secrets that professional writers use when planning and writing any kind of long form content.</p>

		<div class="hp_arrow" id="arrow" data-target="#introText"><i class="fa fa-angle-double-down fa-4x drop-arrow"></i></div>

	</div>

	<div class="guide">
		<h4>Introducting the</h4>
		<h2>PROFESSIONAL WRITER'S 5-STEP GUIDE TO WRITING ANYTHING</h2>
		<p class="italics"><span>blog articles &middot; guest posts &middot; trade magazine articles &middot; e-books &middot; whitepapers &middot; epic content &middot; primary research</span></p>
	
		<div class="downloadWA" id="downloadWA">
			<h4 class="mini-head"><span>&#9679;</span> LEARN THE 5 STEPS &amp; WRITE LIKE A PRO <span>&#9679;</span></h4>

			<!-- <button class="ba-button">DOWNLOAD THE GUIDE</button> -->

			<a href="/write-anything/#write-anything" class="ba-button">GET THE GUIDE</a>

			<footer>
				<p>You will also receive my <span class="bold">5-day email course</span> that will expand on this guide and walk you step-by-step through writing your next article.</p>

				<p>Download it today and, for a limited time, I’ll also send you my guide to writer better &hellip; <span class="bold">GO FROM BLANK PAGE TO COMPLETED ARTICLE</span> gives you 5 techniques to help you through the all important writing stage with less pain &amp; frustration.</p>

				<p class="small"><i class="fa fa-lock"></i> Your email is safe &amp; will only be used to communicate direclty with you.</p>
			</footer>
		</div>
	</div>
</div>