<section class="policies">

	<header class="policies__header">
		<h4 id="policies">Privacy Policy</h4>
	</header>

	<div class="policies__content">
		<h3>Email &amp; SPAM</h3>

		<p>Your email and other personal details are safe with us. We will NEVER sell, rent or provide any data on any person who provides any kind of information. We HATE the SPAM crap, too and will put out a contract on any SPAMMERS who steal our content or your personal information.</p>

		<h3>Advertising</h3>

		<p>TalesofMurder.com may occasionally accept limited advertising from relevant companies. We may, on occasion and only as part of the weekly email, send you offers from other parties. However, we’ll provide YOU with THEIR contact info; not the other way around! We will NEVER sell, rent, or give away your information.</p>

		<p>We offer no guarantee to what they provide or what they may do with your contact information. Once you leave TalesofMurder.com, remember &hellip; caveat emptor!</p>

		<h3>Cookies</h3>

		<p>The site does use cookies and other methods to track our users. This is only to ensure a better experience for our readers and you can always opt out at any time. Cookies are used to recognize frequent visitors so that we can provide the custom content. The cookie allows the site to recognize returning visitors, to enable you to read PREMIUM CONTENT available only to subscribers without asking you to log in again.</p>

	</div> <!-- end of div policies__content -->

</section>