<div class="sort hidden"> <!-- hidden until fully functional -->
  <p>Sort by:</p>
  <ul>
    <li>Length <i class="fa fa-caret-down" aria-hidden="true"></i><i class="fa fa-caret-up" aria-hidden="true"></i></li>
    <li>Author <i class="fa fa-caret-down" aria-hidden="true"></i><i class="fa fa-caret-up" aria-hidden="true"></i></li>
    <li>Genre <i class="fa fa-caret-down" aria-hidden="true"></i><i class="fa fa-caret-up" aria-hidden="true"></i></li>
  </ul>
</div> <!-- end div.sort -->






















