<section class="terms">

	<header class="terms__header">
		<h4>Terms of Service</h4>
	</header>

	<div class="terms__content">

		<h3>Copyright Status</h3>

		<p>All works—whether short stories or novels, whether provided free on the site and/or via email subscription, or paid content—is public domain or used by permission of the copyright holder. We acquire the material by purchasing back issues of old mystery and detective magazines and reformatting the stories for internet and ereader use. </p>

		<p>We never claim ownership or copyright on any material presented here unless otherwise expressly stated. We have, however, put a great deal of work into reformatting, cleaning and restyling the content. Many of the images, in particular, are redrawn by hand to ensure the highest quality. While legally you can copy and use most of the images (some are custom and therefore subject to our copyright; this will be noted) and stories, we ask that you respect our efforts and simply link to the story if you wish to share it.</p>

		<p>It is NEVER our intent to publish any work without give credit where credit is due or without permission. If you are the copyright owner of a work found on this site, please let use know by using the <a href="#contactform">contact form</a>, below. We have made every effort to ensure that we are not violating anyone's copyright but in the event of an oversight, we will work with you to correct the oversight. Again, it is our intent to provide these stories to new and old fans and ensure their lasting availability, not take away from the owner's ability to promote their own work.</p>

		<p>Individual collections and works may have their own copyright, as applicable under US Copyright Law, and will be thus indicated.</p>

		<h3>Censorship Policy</h3>

		<p>All stories are published on TalesofMurder.com for the entertainment of our site and product users. We seek to honor the original writers of the stories by publishing their works whole and complete, without changing the works in any way, except to correct any minor issues with grammar or punctuation. This means that occasionally a story may include language that, in today’s environment, may be seen as derogatory or inflammatory. We believe that changing this language to be more “politically correct” does a disservice to the writer and the story. It is, in our opinion, a form of censorship. Use of this language and our decision to keep it reflects the time in which the story was written and/or set. It does not reflect the opinions of TalesofMurder.com. We believe in free speech and free expression, without censorship. We believe in the rights of all people, regardless of race, creed, gender, etc.</p>

		<p>If you are offended by the language, please leave the site.</p>

		<h3>Commenting</h3>

		<p>When and if commenting on individual pages or stories is allowed, it is our policy to police the comments for derogatory or inflammatory comments. All users are free to express opinions about the stories, about their authors, or the site, itself. However, trolls and users who use comments for spam or other nefarious means will be banned.</p>

		<p>Remember, you are entitled to your opinion, but so is the other guy. Be respectful of others and their opinions.</p>

	</div> <!-- end of div terms__content -->

	<!-- <div class="faq">
		<h3>FAQ</h3>
		<h4>Have more questions? Check out our FAQ.</h4>
		<br>
		<dl>
			<h5>1. Genre Definitions</h5>
			<dt>Cozy</dt>
			<dd>(usually) amateur detectives &amp; genteel killers</dd>
			<dt>Classic</dt>
			<dd>golden age, classic Holmesian detectives, English manors</dd>
			<dt>Noir</dt>
			<dd>dark, violent; not necessarily any kind of professional sleuth</dd>
		</dl>



		<p>[COMING SOON]</p>
	</div> -->

	<footer class="policies__footer">

	</footer>

</section>