/* ==========================================================================
   BODY
   ========================================================================== */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $base-font-family;
}

.main {
  flex: 1;
  background-color: $bgcolor;
  // padding: 1rem;
}

.xform {
	transform:scaleX(-1) rotate(8deg);
	filter:FlipH;
}

.title {
	text-transform: uppercase !important;
	font-family: $header-font-family !important;
	font-size:0.85rem !important;
	margin: 0 !important;
	font-weight: 100 !important;
	letter-spacing: 2px !important;
	text-align: left !important;
	color: $bgcolor !important;
}

.tagline {
	@extend .title;
	font-size: 0.75rem;
	letter-spacing: initial;
}