/*=============================================
=            HEADER                           =
=============================================*/

.header {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  background-color: $acolor;
  padding-bottom: 1rem;
  // margin-bottom: 1rem;
}