/* ==========================================================================
   HOMEPAGE
   ========================================================================== */

.big-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  color: $pcolor;
  text-align: center;
  border-bottom: 3px solid $acolor;
  min-height: 98vh;
  background-color: $pcolor;
  color: $bgcolor;
  background-image: url('/assets/img/fakes/3adc37868bcafc13df3f92e4a0b07c03_25x6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  header {
    width: 1024px;
    max-width: 90%;
    margin: 2rem auto 1rem;
    h1 {
      margin: 1rem 0;
      font-size: 2.5rem;
      color: $acolor;
      text-shadow: 4px 4px $pcolor;
      @media screen and (min-width: 48rem){
        font-size: 5rem;
      }
    }
    h2 {
      margin-top: 3rem;
    }
    .prehead {
      font-style: italic;
      margin-top: 1rem;
      line-height: 1.5rem;
      @media screen and (min-width:48rem){
        margin-top: 0;
      }
    }
    .subhead {
      width: 600px;
      max-width: 85%;
      margin: 0 auto;
      padding: 0.25rem;
      background-color: rgba(36, 36, 36, 0.35);
      box-shadow: 0px 0px 3px 3px rgba(36, 36, 36, 0.35);
      color: $bgcolor;
      font-size: 1.25rem;
    }
  }
  main {
    // display: none;
    width: 800px;
    max-width: 90%;
    margin: 2rem auto 1rem;
    padding-top: 2rem;
    font-size: 1.25rem;
    text-align: center;
    border-top: 2px solid $bgcolor;
    background-color: rgba(36, 36, 36, 0.3);
    box-shadow: 0px 0px 60px 60px rgba(36, 36, 36, 0.3);
    h2 {
      color: $acolor;
    }
    h4 {
      letter-spacing: 0.05rem;
      margin: 0 0 1rem 0;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
    }
  }
  footer {
    width: 800px;
    max-width: 90%;
    // background-color: $bgcolor;
    // border-bottom: 3px solid $bgcolor;
    margin: 0 auto 1rem;
    padding: 1rem;
    p {
      font-family: $base-font-family;
      text-align: left !important;
      color: $pcolor;
    }
  }
  .break {
    display: block;
    margin-top: 1rem;
    @media screen and (min-width:48rem){
      display: initial;
      margin: 0;
    }
  }
}

.hp_arrow {
  margin-top: 2rem;
  color: $acolor !important;
}



.write-anything {
  header {
    width: 800px;
    max-width: 90%;
    margin: 2rem auto 0;
    padding-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
    // background-color: rgba(36, 36, 36, 0.3);
    // box-shadow: 0px 0px 60px 60px rgba(36, 36, 36, 0.3);
    // div:last-of-type {
    //   background-color: $bcolor;
    //   margin-bottom: -2rem;
    //   padding: 1rem;
    //   p {
    //     color: $bgcolor;
    //   }
    // }
    div {
      text-align: left;
      margin-bottom: 2rem;
      p {
        font-family: $base-font-family;
      }
    }
    h2 {
      color: $acolor;
    }
    h3 {
      color: $bcolor;
      margin-bottom: 1.5rem;
    }
    h4 {
      letter-spacing: 0.05rem;
      margin: 0 0 1rem 0;
      color: $bgcolor;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
    }
  }
  main {   
    border-top: 4px solid $bcolor;
    border-bottom: 4px solid $bcolor;
    background-color: $bgcolor !important;
    box-shadow: 3px 10px 8px 5px rgba(36, 36, 36, 0.35);
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem 2rem;
    padding-top: -2rem;
    @media screen and (min-width:48rem){
      border: 4px solid $bcolor;
    }
    div {
      background-color: $bcolor;
      margin: 0 -1rem -4rem;
      padding: 1rem;
      border-bottom: 4px double $bgcolor;
      text-align: center;
      h2 {
      color: $acolor;
    }
      h4 {
            letter-spacing: 0.05rem;
            margin: 0 0 1rem 0;
            color: $bgcolor;
          }
      p {
        font-weight: 400;
        font-size: 1rem;
        color: $bgcolor;
      }
    }
    h3 {
      border-top: 2px solid $pcolor;
      margin: 4rem -1rem 1rem -1rem;
      padding: 1rem;
      background-color: $bcolor;
      color: $bgcolor;
      font-weight: bold;
      text-align: left;
      text-transform: lowercase;
      &:first-of-type {
        border: none;
        // padding-top: 0;
      }
    }
    p {
      font-family: $base-font-family;
    }
    .positive {
        text-align: right;
      }
    .number {
      font-size: 4rem;
    }
  }
}

.calendar-text {
  margin-top: 0.15rem;
}

.downloadWA {
  margin: 0 auto !important;
  padding: 0 2rem 1rem !important;
  // border-top: 3px solid $pcolor;
  text-align: center !important;
  border: none !important;
  background-color: $bcolor !important;
  color: $bgcolor !important;
  h3 {
    text-transform: uppercase !important;
    text-align: center !important;
    font-size: 1.5rem !important;
    padding-top: 3rem !important;
    span {
      margin: 2rem 0 1rem !important;
      font-size: 2rem !important;
      color: $acolor !important;
      @media screen and (min-width: 48rem){
        font-size: 2.75rem !important;
      }
    }
  }
  p {
    font-family: $base-font-family !important;
    text-align: left !important;
    font-style: italic !important;
    letter-spacing: 0.05rem !important;
  }
  .ba-button {
    font-size: 1rem;
    padding-top: 2rem;
    margin-top: 0;
    @media screen and (min-width:48rem){
      font-size: 1.5rem;
      padding-top: 1.75rem;
    }
  }
}

.editing-offer {
  max-width: 75% !important;
  margin: 2rem auto 0 !important;
  padding: 1rem 1rem 0 1rem !important;
  background-color: $acolor !important;
  text-align: center !important;
  border: none !important;
  box-shadow: 3px 2px 3px 3px rgba(36, 36, 36, 0.35) !important;
  p {
    color: $pcolor !important;
  &:first-of-type {
    font-weight: bold;
  }
  }
  .ba-button {
    font-size: 1rem;
    padding-top: 1rem;
    margin-top: 0;
    @media screen and (min-width:48rem){
      font-size: 1.5rem;
      padding-top: 1.75rem;
    }
  }
}

.first-line {
  &:first-line {
    font-weight: bold;
  }
}



.three {
  a {
    text-decoration: none !important;
    color: $acolor;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    border-bottom: 2px solid $acolor;
    border-top: 2px solid $acolor;
    margin: 2rem 0;
    // padding: 2rem;
    @media screen and (min-width:48rem){
      flex-direction: row;
      border: none;
    }
    li {
    font-size: 3rem;
    color: $acolor;
    padding: 1rem;
    @media screen and (min-width:48rem){
      border-bottom: 2px solid $acolor;
      border-top: 2px solid $acolor;
      padding: 0;
      }
    }
  }
}


.cj-hp {
  font-family: $base-font-family !important;
  .cj_editing, .cj_writing, .cj_research {
    width: 800px;
    max-width: 95%;
    margin: 2rem auto 2rem;
    padding-bottom: 1.5rem;
    // border-bottom: 2px solid $pcolor;
    h2 {
      color: $bcolor;
      border-bottom: 2px solid $bcolor;
      margin-bottom: 2rem;
    }
    hr {
      border: 1px solid $bcolor;
      margin: 1rem 0;
    }
    .callout {
      color: $bcolor;
      border-top: 2px solid $bcolor;
      border-bottom: 2px solid $bcolor;
      text-align: center;
      width: 600px;
      max-width: 90%;
      margin: 2rem auto 4rem;
      padding: 0.5rem 0.5rem 0.05rem 0.5rem;
    }
    ul {
      margin: 1rem auto 2rem auto;
      list-style: none;
      max-width: 600px;
      li {
        text-align: center;
        padding: 0.5rem;
        color: $bcolor;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    a {
      text-decoration: none !important;
    }
    .services {
      margin-bottom: 3rem;
      p.blue {
        text-align: center;
        margin: 2rem auto;
        color: $bgcolor;
        background-color: $bcolor;
        padding: 0.5rem 1rem;
        width: 300px;
        text-transform: uppercase;
        @media screen and (min-width:48rem){
          padding: 0.5rem 2rem;
          // width: 400px;
        }
      }
    }
  }
  .magic-button {
    border: 2px solid $bcolor;
    border-radius: 8px;
    padding: 1.25rem;
    font-size: 1.85rem;
    color: $bcolor;
    text-align: center;
    &:hover {
      background-color: $bcolor;
      color: $bgcolor;
    }
    @media screen and (min-width:48rem){
      font-size: 4.25rem;
    }
  }
  
}

.divider {
  height: 75px;
  width: 100%;
  border-top: 4px solid $acolor;
  border-bottom: 4px solid $acolor;
  background-color: $acolor;
  background-image: url('/assets/img/patterns/type.png');
  &:first-of-type {
    height: 1px;
    background-color: $bgcolor;
    border: none;
    margin-bottom: 5rem;
  }
}




.bonzo-header {
  line-height: 3rem;
  @media screen and (min-width:48rem){
    line-height: 5.25rem;
  }
}



.rotate-words {
  display: inline-block;
  vertical-align: bottom;
  height: 50px;
  width: 100%;
  position: relative;
  overflow: visible;
  
  span {
    // border: 1px solid hotpink;
    position: absolute;
    display: block;
    bottom: 0;
    opacity: 0;
    width: 100%;
    animation: rotateWords 12s linear infinite 0s;
    color: $bgcolor;
    @media screen and (min-width:48rem){
      // text-decoration: underline;
    }
    // background-color: $acolor; 
  }
  
  @for $i from 1 through 4 {
    span:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 3s;
    }
  }
}

@keyframes rotateWords {
    0% { opacity: 1; visibility: visible; animation-timing-function: ease-in; }
    23% { opacity: 1; visibility: visible; }
    25% { opacity: 0; visibility: hidden; }
    100% { opacity: 0; visibility: hidden; }
}