/*=============================================
=            ALL NAVIGATION SASS              =
=============================================*/

/* NAV */
.nav {
  border-bottom: 4px solid $acolor;
  font-family: $header-font-family;
  width: 100%;
  background: $pcolor;

  .main-nav {
    @media screen and (min-width: 48rem) {
      display: flex;
      justify-content: space-around;
      // height: 60px;
    }
    @media screen and (min-width: 64rem) {
      justify-content: center;
    }

    a.logo {
      display: flex;
      align-self: flex-end;
      // margin: 1.5rem -2rem 1rem 1rem;
      background: url('/assets/img/site/logo_full3.svg') no-repeat;
      background-size: contain;
      // height: 40px;
      width: 21%;
      span {
        margin-left: -9999px;
      }
      &:hover {
        background: url('/assets/img/site/logo_full_chartreuse3.svg') no-repeat;
      }
      @media screen and (min-width: 48rem) {
        background: url('/assets/img/site/logo_full3.svg') no-repeat;
        // height: 30px;
      }
      @media screen and (min-width: 64rem) {
        margin-right: 5rem;
      }
    } /* a.logo */

    ul {
      background-color: $acolor;
      display: none;
      height: 0;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
      @media screen and (min-width: 48rem) {
        display: flex;
        justify-content: space-around;
        background-color: transparent;
        width: 90%;
        max-width: 960px;
        opacity: 1;
        height: 55px;
        visibility: visible;
      }
    }

    li {
      border-bottom: 1px solid $bgcolor;
      display: inline-block;
      font-size: 1.5rem;
      padding: 1.375rem 0;
      .active {
        color: $bgcolor;
        font-weight: bold;
          &:after {
            display: none;
          }
        }
      @media screen and (min-width: 48rem) {
        display: flex;
        align-self: center;
        border: none;
        font-size: 0.85rem;
        // font-weight: bold;
        width: 75%;
        // height: 10px;
        &:last-of-type {
          padding-right: 2rem;
        }
        .active {
          color: $acolor;
          border-top: 3px solid $acolor;
          border-bottom: 3px solid $acolor;
          padding: 0.25rem 0 0.15rem;
        }
      }
      a {
        color: $pcolor;
        text-transform: uppercase;
        &:after {
          display: block;
          content: '';
          border-bottom: 3px solid $acolor;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &:hover {
        	color: $acolor;
        }
        &:hover:after {
          transform: scaleX(1);
          transform-origin: 0% 50%;
        }

        @media screen and (min-width: 768px){
        	color: $bgcolor;
        }
      }
    }


    input[type=checkbox] {
      display: none;
    }
    input[type=checkbox]:checked ~ ul {
      display: block;
      opacity: 1;
      height: 100vh;
      min-height: 100%;
      visibility: visible;
      overflow: scroll;
      @media screen and (min-width: 450px){
        height: 81vh;
      }
    }
    label { /* CLOSE X when menu open?? */
      float: right;
      background-color: $acolor;
      color: $pcolor;
      padding: 0.5rem;
      margin: 1rem;
      @media screen and (min-width: 48rem) {
        display: none;
      }
    }
  } /* main-nav */

} /* nav */


.social-nav {
  display: none;
  float: right;
  padding: 1.5rem 1rem 0 0;
  ul {
  display: flex;
  justify-content: space-around;
  width: 100px;
  }
  .fa {
    color: $bgcolor;
  }
  @media screen and (min-width: 48rem) {
    display: inline;
  }
}
